@import "tailwindcss";

:root {
  --step--2: clamp(0.6944rem, calc(0.6572rem + 0.186vw), 0.8rem);
  --step--1: clamp(0.8333rem, calc(0.7754rem + 0.2899vw), 1rem);
  --step-0: clamp(1rem, calc(0.913rem + 0.4348vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.0739rem + 0.6304vw), 1.5625rem);
  --step-2: clamp(1.44rem, calc(1.2601rem + 0.8993vw), 1.9531rem);
  --step-3: clamp(1.728rem, calc(1.4783rem + 1.2486vw), 2.4414rem);
  --step-4: clamp(2.0736rem, calc(1.7295rem + 1.7203vw), 3.0518rem);
  --step-5: clamp(2.4883rem, calc(2.0181rem + 2.3511vw), 3.8147rem);
}

@theme inline {
  --color-brand: oklch(65.35% 0.2419 9.26);
  --color-bg: oklch(0% 0 0);
  --color-text: oklch(100% 0 0);
  --font-sans: var(--font-ubuntu);
}

body {
  background: oklch(0% 0 0);
  color: oklch(100% 0 0);
  font-size: var(--step-0);
}
